<h1>This is where we will be displaying the commands page</h1>
<%= button_to "Rainbow", action: "rainbow" %>

<%= button_to "Bounce", action: "bounce" %>

<%= button_to "Interface", action: "interface" %>

